.root {
    -fx-background-color: #ffffff;
}
.button {
    -fx-background-color: #f0e68c;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 10 5 10;
}
.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
.combo-box {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
}
.text-field {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
}
/* CSS rules for child elements inside HBox */
.hbox > * {
    -fx-margin: 10px; /* Adds margin around each child element inside an HBox */
}

/* CSS rules for child elements inside VBox */
.vbox > * {
    -fx-margin: 10px; /* Adds margin around each child element inside a VBox */
}
